<div class="container">
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
          <form  (ngSubmit)="searchGithubUser()" id="search-form" #form="ngForm" class="d-flex">
            <input class="form-control me-2" type="search" ngModel name="search" #search="ngModel" placeholder="GitHub UserName" aria-label="Search">
             <p class="text-danger error-block" *ngIf="!search.valid && search.touched"><small>Fill in field!</small></p> 

            <button class="btn btn-outline-success" type="submit" [disabled]="!form.valid">Search</button>
          </form>
        </div>
      </nav>
</div> 
<!-- <ul *ngFor="let use of users"> -->
    <!-- <img [src]="{{user?.avatar_url}}" alt=""> -->
    <!-- {{profile.login}} -->

<!-- </ul> -->
    <!-- user details response -->
    <div class="container mt-5">
    <div class="row" *ngIf="DetailContainer">
        <div class="row">

        <div class="col-md-6" id="first-row">
            <div class="row">

                <div class="col-md-6">
                    <img class="card-img-top" id="image" [src]="user?.avatar_url" alt="Image">

                </div>
                <div class="col-md-6 mt-3" id="col-1">
                        <p class="card-text" id="username"><b>Name: </b><span> {{user?.name| uppercase}}</span></p>
                        <p><b>UserName:</b><span> {{user?.login}}</span></p>
                        <p><b>Joined on:</b> <span class="bg-warning text-dark">{{user?.created_at|date:'EEEE, MMMM d, y'}} /{{user?.created_at|mypipe}} days ago</span></p>
                        <div class="follow">
                            <p><i class="fas fa-user"></i><span>{{user?.followers}}</span> <b>Followers</b></p>
                            <p><i class="fas fa-user"></i><span>{{user?.following}}</span> <b>Following</b></p>
                        </div>
            </div>
        </div>
        </div>
        <div class="col-md-6" id="first-row">
            <div class="card">
                <ul class="list-group  my-details">
                    <li class="list-group-item"><b>Location:</b><span>{{user?.location}}</span></li>
                    <li class="list-group-item"> <b>Public Repositories:</b><span class="badge rounded-pill bg-info text-dark">{{user?.public_repos}}</span></li>
                </ul>
            </div>
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item"><b>About me</b></li>
                    <li class="list-group-item">
                        <p>{{user?.bio}}</p>
                    </li>
                </ul>
            </div>
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item"><b>Github Account Link</b><i class="fa fa-arrow-down" aria-hidden="true"></i></li>
                    <li class="list-group-item">
                        <div appDirective> 
                            <small><a class="btn btn-sm text-white" href="https://github.com/{{ user?.login }}"
                                target="_blank" rel="noopener noreferrer">Click To View Account On GitHub <i class="fa fa-arrow-right"></i></a></small>
                        </div>
                    </li>
                </ul>
            </div>            
        </div>  
    </div> 

    <!--error message if user not  found-->
    <div class="row" *ngIf="DetailContainer && Error">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="card">
            <div class="alert alert-danger" role="alert">No Github user found</div>
        </div>
    </div>
</div>
</div>
<div class="container mt-5">
    <app-about></app-about>
</div>
<app-footer></app-footer>