form input{
    width: 100%;
    /* background-color: black; */
    height: 5vh;
}
form {
    width: 100%;
    margin-top: 3%;
}
#giticon img{
    /* font-size: 40px; */
    width: 100%;
}

#card-content{
    border-style: outset;
}
.fa .fa-eye{
    color: red;
}
