
#for-image img{
    width: 100%;
    /* object-fit:cover; */
}
#header-1{
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}
.about h3{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;

}