<div class="container">
    <div class="row">
        <h2 id="header-1">GITHUB DEFINATION</h2>
        <div class="col-md-4" id="for-image">
            <img src="assets/GitHub-Emblem.png">

        </div>
        <div class="col-md-8">
            <p class="p1">
                <b>GitHub</b>, Inc. is a provider of Internet hosting for software development and version control using
                Git.
                It offers the distributed version control and source code management functionality of Git, plus its own
            </p>
            <h5 class="mt-3"> Where the world builds software
            </h5>
            <p mypipe class="mt-3">Millions of developers and companies build, ship, and maintain their software on GitHub—the
                largest and most advanced development platform in the world.
            </p>
            <div class="about">
                <h3 mypipe>About This App</h3>
                <p>This is a Search Tool where users  enter a GitHub username into a form, submit it, and see names and
                    descriptions of that person's public repositories. A person can also look for repositories</p>
            </div>
        </div>
    </div>
</div>