nav{
    background-color: rgb(138, 226, 55);
    height: 8vh;
    color: white;
    font-family: 'Roboto Slab', serif;

}
.navbar-brand{
    font-size: 26px;
font-weight: bolder;
}
.navbar-nav{
    margin: 0 20px;
    padding: 0 40px;
    /* background-color: black; */
    width: 100%;
    justify-content: space-around;
    font-size: 23px;
    font-weight: bolder;
   
}
.fa{
    color: red;
}
.nav-item a{
    border-bottom: 3px solid rgb(165, 133, 7);

}
.nav-item a:hover{
    border-bottom: 3px solid rgb(148, 250, 6);

}
