<!-- <nav class="navbar navbar-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-white">GitHub User And User Repositories Search Tool</span>
      <span class="navbar-brand mb-0 h1 text-white">User Profile</span>
      <span class="navbar-brand mb-0 h1 text-white">User Repositories</span>

    </div>
  </nav> -->
<nav class="navbar navbar-expand-lg navbar-light text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">GitHub User And User Repositories Search Tool</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="userprofile" routerLinkActive='active'><i class="fa fa-search" aria-hidden="true"></i>User Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="userrepos" routerLinkActive='active'><i class="fa fa-search" aria-hidden="true"></i>User Repositories</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
